* {
  margin: 0;
  padding: 0; }

header #nav .menu_inline li a, #main .section-servicios div .card .card-body .card-title h5, #main .section-servicios div .card .card-body .card-text p, #main .section-contacto .btn a, #footer p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif; }

#main h1, #main .slide_about_container, #main .slide_about_container .txt_slide_about, #main h2, #main h3 {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  font-family: 'Comfortaa', sans-serif; }

@keyframes cambiodefondo {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 200%; }
  to {
    margin-left: 0%;
    width: 100%; } }

body {
  background-color: #C5D3D9; }

hr {
  height: 1px;
  background-color: #013440; }

#body_container {
  background-color: #C5D3D9;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100% 1fr;
  grid-template-rows: reapeat(3, minmax(100px, auto));
  grid-template-areas: "header" "main" "footer"; }

header {
  grid-area: header;
  width: 100%;
  height: 100px;
  background-color: #9FB6BF;
  display: flex;
  z-index: 1000; }
  header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 20px; }
    header label img:hover {
      width: 60px;
      height: 60px;
      background: rgba(0, 0, 0, 0.3); }
  header div {
    display: none; }
  header #nav {
    display: flex;
    flex-grow: 1; }
    header #nav div {
      display: flex;
      margin: 30px 20px; }
    header #nav .menu_inline {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-grow: 1; }
      header #nav .menu_inline li {
        flex-grow: 1; }
        header #nav .menu_inline li a {
          display: block;
          text-decoration: none;
          color: #000;
          font-family: 'Josefin Sans', sans serif;
          padding: 40px 20px; }
          header #nav .menu_inline li a:hover {
            background-color: rgba(0, 0, 0, 0.3);
            width: 150px;
            height: 100px; }

#btn_menu {
  display: none; }

#main {
  grid-area: main;
  display: block;
  background-color: #C5D3D9; }
  #main nav {
    background-color: #C5D3D9;
    width: 100%;
    padding-top: 20px;
    border-bottom: solid 1 px rgba(0, 0, 0, 0.8);
    border-top: solid 1 px rgba(0, 0, 0, 0.8); }
    #main nav ol li {
      font-size: 16px;
      font-weight: 400;
      font-family: 'Comfortaa', serif;
      color: #000; }
  #main #carouselExampleControls {
    margin: 20px auto;
    padding-bottom: 20px; }
    #main #carouselExampleControls .carousel-item img {
      width: 100%;
      height: 450px;
      object-fit: cover; }
  #main h1 {
    justify-content: center;
    text-align: center;
    font-family: 'Comfortaa', serif;
    padding: 20px 0px; }
  #main .slide_about_container {
    width: 100%;
    height: 500px;
    display: flex; }
    #main .slide_about_container div {
      width: 50%;
      height: 400px;
      position: relative; }
    #main .slide_about_container .slide_about img {
      width: 110%;
      height: 110%;
      object-fit: cover;
      animation-name: cambiodefondo;
      animation-duration: 3s;
      margin-left: 0; }
    #main .slide_about_container .txt_slide_about {
      padding: 50px 20px 0px 20px;
      margin-top: 20px;
      justify-content: space-around;
      border: solid 1px rgba(0, 0, 0, 0.3);
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)); }
      #main .slide_about_container .txt_slide_about h3 {
        padding-top: 20px; }
  #main h2 {
    padding: 20px 0px; }
  #main .section-servicios div {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0px 20px 20px 20px; }
    #main .section-servicios div .card {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
      text-align: center; }
      #main .section-servicios div .card a {
        color: #000;
        font-family: 'Comfortaa',sans-serif;
        text-decoration: none; }
      #main .section-servicios div .card:hover {
        transform: scale(1.1, 1.1);
        opacity: 0.6; }
      #main .section-servicios div .card .card-img-top {
        width: 100%;
        height: 350px;
        object-fit: cover; }
      #main .section-servicios div .card .card-body {
        display: flex;
        flex-direction: column; }
  #main .section-contacto {
    position: relative; }
    #main .section-contacto img {
      width: 100%;
      padding: 20px 0px; }
    #main .section-contacto .btn {
      position: absolute;
      top: 50%;
      left: 5%;
      margin: 20px 20px;
      transform: scale(1.2, 1.2); }
      #main .section-contacto .btn a {
        color: #000;
        text-decoration: none; }

#footer {
  grid-area: footer;
  height: 100px;
  display: flex;
  background-color: #9FB6BF;
  padding: 20px 20px; }
  #footer p {
    flex-grow: 1;
    align-self: center; }
  #footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-self: center; }
    #footer ul li {
      padding: 0 20px; }
  #footer .copy {
    transform: translate(90%, 90%); }

@media (max-width: 930px) {
  header {
    position: absolute;
    display: block; }
    header label {
      display: block; }
    header #nav {
      background-color: #9FB6BF;
      display: block; }
      header #nav div {
        display: flex;
        float: none;
        margin: 0px 0px; }
      header #nav div a img {
        margin: 20px 100px; }
      header #nav img {
        margin: -90px 0 -90px 40%; }
      header #nav .menu_inline {
        flex-direction: column;
        position: absolute;
        align-self: center;
        display: none; }
        header #nav .menu_inline a {
          display: block;
          background-color: #9FB6BF;
          align-content: flex-start;
          margin-left: 0;
          align-self: center; }
  #main h1 {
    font-size: 20px;
    font-weight: 400;
    text-align: center; }
  #main h2 {
    font-size: 20px;
    font-weight: 400;
    text-align: center; }
  #main .txt_slide_about h3 {
    font-size: 20px;
    font-weight: 400;
    text-align: center; }
  #main .section-servicios div {
    flex-direction: column; }
    #main .section-servicios div .card-img-top img {
      object-fit: contain; }
  #main .section-contacto .btn {
    top: 70%;
    left: 0%;
    margin: 20px 20px;
    transform: scale(1, 1); }
  #btn_menu:checked + .menu_inline {
    display: flex; } }
