* {
  margin: 0;
  padding: 0;
}

header #nav .menu_inline li a, #footer p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

#main h2, #main .slide_container .slide_txt h3 {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

#main h1, #main .slide_container, #main .slide_container .slide_txt h2 {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  font-family: 'Comfortaa', sans-serif;
}

@-webkit-keyframes cambiodefondo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cambiodefondo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: #C5D3D9;
}

hr {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0px 0px;
}

#body_container {
  background-color: #C5D3D9;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100% 1fr;
      grid-template-columns: 100% 1fr;
  -ms-grid-rows: reapeat(3, minmax(100px, auto));
      grid-template-rows: reapeat(3, minmax(100px, auto));
      grid-template-areas: "header" "main" "footer";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  width: 100%;
  height: 100px;
  background-color: #9fb6bf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
}

header label {
  display: none;
  width: 30px;
  height: 30px;
  padding: 20px;
}

header label img:hover {
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.3);
}

header div {
  display: none;
}

header #nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header #nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 20px;
}

header #nav .menu_inline {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header #nav .menu_inline li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header #nav .menu_inline li a {
  display: block;
  text-decoration: none;
  color: #000;
  font-family: 'Josefin Sans', sans serif;
  padding: 40px 20px;
}

header #nav .menu_inline li a:hover {
  background-color: rgba(159, 182, 191, 0.8);
}

#btn_menu {
  display: none;
}

#main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  width: 100%;
}

#main nav {
  background-color: #e9ecef;
  width: 100%;
  padding-top: 20px;
  border-bottom: solid 1 px rgba(0, 0, 0, 0.8);
  border-top: solid 1 px rgba(0, 0, 0, 0.8);
}

#main nav ol {
  background-color: #e9ecef;
  padding: 0;
}

#main nav ol li {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Comfortaa', serif;
  color: #000;
}

#main h2 {
  padding: 20px 70px;
}

#main .slide_container {
  overflow: hidden;
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 70px 0px;
}

#main .slide_container .slide {
  width: 50%;
  height: 400px;
  position: relative;
}

#main .slide_container .item {
  width: 100%;
  height: 110%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation-name: cambiodefondo;
          animation-name: cambiodefondo;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

#main .slide_container .slide_txt {
  padding: 20px 20px 0px 40px;
  margin-top: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.1)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
}

#main .slide_container .slide_txt h2 {
  padding: 10px 0px;
}

#footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #9fb6bf;
  padding: 20px 20px 0px 20px;
}

#footer p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#footer ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: center;
      align-self: center;
}

#footer ul li {
  padding: 0 20px;
}

#footer .copy {
  -webkit-transform: translate(110%, 0%);
          transform: translate(110%, 0%);
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 930px) {
  header {
    display: block;
  }
  header label {
    display: block;
  }
  header #nav {
    background-color: #9fb6bf;
    display: block;
  }
  header #nav div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    float: none;
    margin: 0px 0px;
  }
  header #nav div a img {
    margin: 20px 100px;
  }
  header #nav img {
    margin: -90px 0 -90px 40%;
  }
  header #nav .menu_inline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    display: none;
  }
  header #nav .menu_inline a {
    display: block;
    background-color: #9fb6bf;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    margin-left: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #main h1 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
  #main h2 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
  #main .slide_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #main .slide_container .slide {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
  }
  #main .slide_container .slide h2 {
    font-size: 20px;
  }
  #main .slide_container .slide h3 {
    font-size: 16px;
  }
  #main .slide_container .item {
    width: 100%;
    height: 400px;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0;
    padding: 0;
  }
  #btn_menu:checked + .menu_inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=servicios.css.map */