$color_texto: #013440;
$background_header_footer: #9FB6BF;
$general_background:#C5D3D9;

*{
    margin:0;
    padding:0;
}

@mixin sizes($width,$height){
    width: $width;
    height: $height;
}

%texto {
    font-size: 16px;
    font-weight:400;
    text-align: center;
}
body {
    background-color: $general_background;
}

#container{
    @include sizes(100%, 100%);
    display: grid;
    grid-template-columns: 100% 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: "header"
                          "main"
                          "footer";
}

header {
    grid-area: header;
    @include sizes(100%, 100px);
    background-color: $background_header_footer;
    display:flex;
    


    label {
        display: none;
        @include sizes (30px, 30px);
        padding: 20px;

        &:hover {
            @include sizes (100px, 100px);
            background: rgba(0,0,0,0.3);
        }
    }

    div{
        display: none;
        align-self: center;
    }

    #nav{ 
        display:flex;
        flex-grow: 1;
    

        div{
            display: flex;
            margin: 0px 20px;    
        }

        .menu_inline{
        margin:0;
        padding:0;
        list-style: none;
        display: flex;
        flex-grow: 1;

        li{
            flex-grow: 1;
            
            a{
                display: block;
                text-decoration: none;
                color: #000;
                font-family: 'Josefin Sans', sans serif;
                @extend %texto;
                padding: 40px 20px;
                
    
            &:hover{
                background-color: rgba(0,0,0,0.3);
                @include sizes (150px, 100px)
            }
    
                
    
            }
        
        
        
        }
        }
    
    }

}


#btn_menu{
   display: none;
}


#main{
    grid-area: main;
    display: block;
    background-color: $general_background;

    nav {
        background-color: $general_background;
        width: 100%;    
        border-bottom: solid 1 px rgba(0,0,0,0.8);
        border-top: solid 1 px rgba(0,0,0,0.8);


        ol li{
            font-size: 16px;
            font-weight:400;
            font-family: 'Comfortaa', serif;
            color: #000;

        }
        
    }

    #carouselExampleControls{
        width: 100%;
        margin: 20px auto;
        
        .carousel-inner{

            .item img {
               object-fit: scale-down;
               @include sizes(100%, 500px)
        }
    }
}

#footer{
    grid-area: footer;
}

@media (max-width:930px) {

    header {
        position: absolute;
        display: block; 

        label{
        display: block;     
        }
 
        #nav{
        background-color: $background_header_footer;
        display: block;

        
          div{
              display: flex;
              margin: 0px 0px;    
          }  

          div a img{  
              margin: 20px 100px; 
          }

          img{
              margin: -90px 0 -90px 40%;
          }
        
          .menu_inline {
              flex-direction: column;
              position: absolute;
              align-self: center;
              margin-left: -100%;
              
            
            

              a {
                  display: block;
                  background-color: $background_header_footer;
                  align-content:flex-start;
                  margin-left:0;
                  align-self: center;
              }


          }

    
        }

    }
     
    
    #btn_menu:checked + .menu_inline{
     
        margin-left: 0;
        
    }
}}